<section id="new-housework">
  <h1>Házimunka {{ currentUrl == '/new-housework' ? 'hozzáadása' : 'szerkesztése' }}</h1>

  
    <form [formGroup]="newHouseworkForm" (ngSubmit)="submitForm()">
      <div class="form-container">
        <label class="task-input">
          <input type="text" formControlName="taskName">
          <span class="label-text">Feladat</span>
        </label>

        <label class="points-input">
          <input type="number" formControlName="score">
          <span class="label-text">Pont</span>
        </label>

        <label class="block description-input">
          <textarea formControlName="taskDescription"></textarea>
          <span class="label-text">Leírás</span>
        </label>
      </div>

      <input type="submit" class="primary-button-green send-button" [value]="currentUrl == '/new-housework' ? 'Hozzáad' : 'Mentés'">

    </form>
</section>