<header [ngClass]="{'bright': currentUrl == '/'}">
  <div class="header-wrapper">
    <span class="logo" routerLink="/">HOUSEWORK</span>

    <div class="hamburger" (click)="toggleNav = !toggleNav" [ngClass]="{'close': toggleNav}">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav [ngClass]="{'open': toggleNav}">
      <ng-template [ngIf]="!authService.isLoggedIn">
        <span routerLink="/login" routerLinkActive="active" class="nav-item">Bejelentkezés</span>
        <span routerLink="/sign-up" routerLinkActive="active" class="nav-item">Regisztráció</span>
      </ng-template>
      <ng-template [ngIf]="authService.isLoggedIn">
        <span routerLink="/user-list" (click)="toggleNav = false" *ngIf="authService.checkRole('ROLE_ADMIN')" routerLinkActive="active" class="nav-item">Felhasználók</span>
        <span routerLink="/housework-manager" (click)="toggleNav = false" *ngIf="authService.checkRole('ROLE_ADMIN')" routerLinkActive="active" class="nav-item">Házimunka manager</span>
        <span routerLink="/housework-browser" (click)="toggleNav = false" routerLinkActive="active" class="nav-item">Házimunka bögészés</span>
        <span routerLink="/profile" (click)="toggleNav = false" routerLinkActive="active" class="nav-item">Profil</span>
        <span (click)="authService.logout()" (click)="toggleNav = false" class="nav-item">Kijelentkezés</span>
      </ng-template>
    </nav>
  </div>
</header>