<header [ngClass]="{'bright': currentUrl == '/'}">
  <div class="header-wrapper">
    <span class="logo" routerLink="/">HOUSEWORK</span>

    <nav>
      <ng-template [ngIf]="!authService.isLoggedIn">
        <span routerLink="/login" routerLinkActive="active" class="nav-item">Bejelentkezés</span>
        <span routerLink="/sign-up" routerLinkActive="active" class="nav-item">Regisztráció</span>
      </ng-template>
      <ng-template [ngIf]="authService.isLoggedIn">
        <span routerLink="/user-list" *ngIf="authService.checkRole('ROLE_ADMIN')" routerLinkActive="active" class="nav-item">Felhasználók</span>
        <span routerLink="/housework-manager" *ngIf="authService.checkRole('ROLE_ADMIN')" routerLinkActive="active" class="nav-item">Házimunka manager</span>
        <span routerLink="/housework-browser" routerLinkActive="active" class="nav-item">Házimunka bögészés</span>
        <span routerLink="/profile" routerLinkActive="active" class="nav-item">Profil</span>
        <span (click)="authService.logout()" class="nav-item">Kijelentkezés</span>
      </ng-template>
    </nav>
  </div>
</header>