<section id="housework-details">
  <h1>Excepteur sint occaecat cupidatat non proident sunt in culpa.</h1>

  <div class="details-container">
    <div class="description">
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer non ipsum pulvinar quam ullamcorper vestibulum consequat in arcu. Quisque nec velit magna. Nulla ut augue nec elit suscipit ullamcorper. Cras elementum nulla eget orci varius, a eleifend quam volutpat. Curabitur a euismod dolor, vestibulum finibus mi.
      </p>

      <p>
          - Cras elementum nulla eget orci varius <br>
          - Eleifend quam volutpat. <br>
          - Curabitur a euismod dolor. <br>
          - Quam ullamcorper vestibulum consequat in arcu. <br>
      </p>
    </div>

    <div class="points-wrapper">
      <div class="points-container">
        <span class="before-text">Ezért a házimunkáért</span>
        <span class="points">1</span>
        <span class="after-text">pontot kaphatsz</span>
      </div>
    </div>
    
  </div>

  <button class="add-todo-btn primary-button-blue">+ Hozzáadás a teendőimhez</button>
</section>