<section id="housework-details">
  <h1>{{ taskName }}</h1>

  <div class="details-container">
    <div class="description">
      {{ taskDescription }}
    </div>

    <div class="points-wrapper">
      <div class="points-container">
        <span class="before-text">Ezért a házimunkáért</span>
        <span class="points">{{ score }}</span>
        <span class="after-text">pontot kaphatsz</span>
      </div>
    </div>
    
  </div>

  <button class="add-todo-btn primary-button-blue" (click)="addTask()">+ Hozzáadás a teendőimhez</button>
</section>