<section id="housework-history">

  <div class="period completed">
    <h3 class="period-name">December</h3>
    <h2 class="points">10</h2>

    <div class="completed-housework-container">
      <app-small-housework-card [title]="'Excepteur sint occaecat cupidatat non proident sunt in culpa'" [value]="2"></app-small-housework-card>
      <app-small-housework-card [title]="'Excepteur sint occaecat cupidatat non proident sunt in culpa'" [value]="2"></app-small-housework-card>
      <app-small-housework-card [title]="'Excepteur sint occaecat cupidatat non proident sunt in culpa'" [value]="2"></app-small-housework-card>
      <app-small-housework-card [title]="'Excepteur sint occaecat cupidatat non proident sunt in culpa'" [value]="2"></app-small-housework-card>
      <app-small-housework-card [title]="'Excepteur sint occaecat cupidatat non proident sunt in culpa'" [value]="2"></app-small-housework-card>
    </div>
  </div>
  
  <div class="period failed">
    <h3 class="period-name">November</h3>
    <h2 class="points">8</h2>

    <div class="completed-housework-container">
      <app-small-housework-card [title]="'Excepteur sint occaecat cupidatat non proident sunt in culpa'" [value]="2"></app-small-housework-card>
      <app-small-housework-card [title]="'Excepteur sint occaecat cupidatat non proident sunt in culpa'" [value]="2"></app-small-housework-card>
      <app-small-housework-card [title]="'Excepteur sint occaecat cupidatat non proident sunt in culpa'" [value]="2"></app-small-housework-card>
      <app-small-housework-card [title]="'Excepteur sint occaecat cupidatat non proident sunt in culpa'" [value]="2"></app-small-housework-card>
    </div>
  </div>

  <app-load-more></app-load-more>

</section>
