<section id="user-profile">
  <h1>{{ fullName }}</h1>
  <span class="primary-button-red" (click)="removeUser()">Felhasználó eltávolítása</span>

  <div class="actual-housework-period">
    <!--<h3 class="period-name">December</h3>-->

    <div class="points-info-container">
      <app-points-info-card [title]="'Elért havi pontszám'" [value]="actualScore + '/10'"></app-points-info-card>
      <app-points-info-card [title]="'Listán szereplő pontszámok összege'" [value]="inProgressTaskScoreSum"></app-points-info-card>
      <app-points-info-card [title]="'Összpontszám'" [value]="sumScore"></app-points-info-card>
    </div>
    
    <h3>Elvégzendő házimunkák:</h3>
    <div class="todo-housework-container">
      <app-small-housework-card *ngFor="let item of inProgressTasks" [title]="item.taskName" [value]="item.score"></app-small-housework-card>
    </div>

    <h3>Elvégzett házimunkák:</h3>
    <div class="todo-housework-container">
      <app-small-housework-card *ngFor="let item of completedTasks" [title]="item.taskName" [value]="item.score"></app-small-housework-card>
    </div>
    
  </div>
</section>