<section id="profile">
  <h1>Profil</h1>

  <div class="actual-housework-period">
    <h3 class="period-name">December</h3>

    <div class="points-info-container">
      <app-points-info-card [title]="'Elért havi pontszám'" [value]="userScore + '/10'"></app-points-info-card>
      <app-points-info-card [title]="'Listán szereplő pontszámok összege'" [value]="inProgressTaskScoreSum"></app-points-info-card>
      <app-points-info-card [title]="'Összpontszám'" [value]="64"></app-points-info-card>
    </div>
    
    <h3>Elvégzendő házimunkák:</h3>
    <div class="todo-housework-container">
      <app-todo-housework-card *ngFor="let item of userInProgressTasks" [title]="item.taskName" [value]="item.score"></app-todo-housework-card>
    </div>
    
  </div>
</section>