<section id="houseworks">
  <h1>Házimunkák</h1>

  <div class="houseworks-to-approve-container">
    <h3>Ellenőrzésre várnak:</h3>

    <div class="houseworks-to-approve">
      <app-housework-to-approve-card *ngFor="let item of tasksToReview" [name]="getAssignedUser(item.id).fullName" [title]="item.taskName" (accept)="approveTask(item.id)" (reject)="rejectTask(getAssignedUser(item).id, item.id)"></app-housework-to-approve-card>
    </div>
  </div>

  <div class="housework-list-container">
    <h3>Házimunkák listája</h3>

    <div class="housework-list">
      <app-small-housework-card routerLink="/new-housework" class="new-housework" [title]="'Új házimunka'" [value]="'+'"></app-small-housework-card>

      <app-small-housework-card [routerLink]="'/edit-housework/'+item.id" *ngFor="let item of notCompletedTasks" [title]="item.taskName" [value]="item.score"></app-small-housework-card>
    </div>
    
  </div>
</section>