<section id="login-page">
  <div class="icon-wrapper">
    <i class="fas fa-user"></i>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <label class="block">
      <input type="text" formControlName="email">
      <span class="label-text">E-mail cím</span>
    </label>

    <label class="block">
      <input type="password" formControlName="password">
      <span class="label-text">Jelszó</span>
    </label>

    <input type="submit" (submit)="submitForm()" class="primary-button-green login-button" value="Bejelentkezés">
  </form>
</section>